@import "tailwindcss";
@plugin "daisyui";

/* Lalezar font */
@font-face {
  font-family: "Lalezar";
  src: url("/fonts/Lalezar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: "Lalezar", cursive;
}

.skeleton::after {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(59, 130, 246, 0.3), /* your custom shimmer color */
    transparent
  ) !important; /* ← this ensures it overrides DaisyUI */
}

